@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your global background fix here */

body {
    background-color: #ecf0f5 !important;
    margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}